*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color:ghostwhite;
    color: black;
    padding: 20px;

}

header, footer
 {
    background-color:#A7E8FF;
    text-align: center;
    margin: 20px 0;

}

.galeria {
    width: min(1100px, 94%);
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.galeria img {
    flex: 0 0 300px;
    width: 250px;
    height: 220px;
    object-fit: cover;
    border: 1px solid #777;
    background: white;
}

